body{
    background-color: cornflowerblue;
}

#output{
    background-color:white;
    border-radius:10px;
    border-top:10px solid dodgerblue;
    padding:10px;
    float:none;
    
}
.numbers{
    font-family:fantasy;
}
#tit{
    font-family:fantasy;
}